{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}InDigital{% endblock title %}
    </title>
    <!-- favicon -->
    <link rel="icon" type="image/png" href="{% static 'assets/favicon.ico' %}" />
    <!-- css -->
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
</head>
<body>
    <!-- navegação -->
    <nav>
        <div class="logo">
            <a href="{% url 'index' %}">InDigital</a>
        </div> 
    <ul>
        <li> <a href="{% url 'index' %}">Home</a> </li>
        <li> <a href="#">Reserva</a> </li>
        <li> <a href="#">Perfil</a> </li>
    </ul>
    </nav>
    {% block content %}
    {% endblock content%}
        <footer class="footer">
            <div class="container">
                <p>Copyright © 2024</p>
            </div>
        </footer>
</body>
</html>