<!DOCTYPE html>
<html lang="pt-bt">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Confirmar senha</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <div class="container">
    <div class="card">
      <div class="success-icon">✔</div>
      <h2>Enviamos um link para o seu e-mail cadastrado</h2>
      <p>Cheque sua caixa de entrada</p>
      <button onclick="window.location.href='login.html'">Login</button>
    </div>
  </div>
</body>
</html>
