{% extends 'base.html' %}
{% load static %} 

{% block content %}
<section class="banner">
    <div class="texto">
        <h1 class="titulo">Bem vindo(a) ao InDigital!</h1>
    </div>
</section>
<style>
    .banner {
        height: 100vh;
        background: linear-gradient(rgba(0, 0, 0, 0.308), rgba(0, 0, 0, 0.281)),url("{% static 'assets/img/capa.jpg' %}");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>
<!-- sobre o InDigital -->
<section class="sobre">
    <div class="container">
        <div class="sobre-text">
            <h3>Sobre o InDigital</h3>
            <p>
                O InDigital é um software educacional 
                com o objetivo de facilitar para os 
                estudantes a utilização de computadores 
                dentro do IFRN.
            </p>
        </div> 
        <div class="sobre-img">
            <img src="{% static 'assets/img/indigitallogotipo.png' %}" alt="">
        </div>
    </div> 
</section>
{% endblock content %}